body{
	padding-left: 12em;
}

nav ul{
	position: fixed;
	top:0;
	left:0;
	margin:0;
	padding:0;
}

nav a:link, nav a:visited {
	text-decoration:none;
	display:block;
	color:#000;
	padding:1em 1em 1em 1em;
}

nav a:active, nav a:hover{
	color:#ccc;
}

nav li{
	background:#888;
}

nav li:hover{
	background:#222;
}

.displaytable table
{
	border-collapse:collapse;
	#width:90%;
}

.displaytable .buttoncell
{
	border:none;
	background-color: transparent;
	width:0%;
}

.displaytable th, .displaytable td
{
	border:1px solid black;
	width:20%;
	text-align:center;
}

.displaytable th
{
	background-color: #212121;
	color: #FFFFFF;
}

.displaytable tr:nth-child(2n+1)
{
    background-color: #f0f0f0;
}
.displaytable tr:nth-child(2n)
{
	background-color: #CCCCCC;
}

.displaytable tr:hover 
{
	background-color: #0000C0;
	color: #FFFFFF;
	#font-weight:bold;
}
